.content-wrapper {
	padding-bottom: 1rem;
	background-color: var(--black);
	transition: var(--transition);
	position: relative;
	overflow: hidden;
}

/* HEADER TRIANGLE */

.wrapper-wrapper {	
	max-width: 90%;
	margin: auto;
}

.triangle-wrapper {
	position: absolute;
    top: 3rem;
    right: -14rem;
    z-index: 10;
	overflow: hidden;
}

.triangle {	
    position: relative;
    width: 0;
    height: 0;
    border-left: 20em solid transparent;
    border-right: 20em solid transparent; 
    border-bottom: 23em solid var(--blue); 
	opacity: 15%;
	z-index: 1;
	transition: 1s ease-out;
}

.triangle:hover {
	transform: scale(1.5);
	transition: 1s ease-in;
}

.number {
    font-size: 20rem;
    position: absolute; 
    top: 17rem; 
    transform: translate(-50%, -50%); 
    color: white;
    font-weight: bold; 
}

/* NAVIGATION */

nav {
	display: flex;
	justify-content: space-between;
	padding: 1% 5% 1% 5%;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	font-weight: 500;
	background-color: var(--white);
	color: var(--blue);
	transition: var(--transition);
	z-index: 100;
	align-items: center;
}

.navbar > a {
	padding: 10px 20px 10px 20px;
	border: 2px solid var(--blue);
	border-radius: 10px;
}

.navbar a:hover {
	background-color: var(--blue);
	color: var(--white);
	transition: var(--transition);
}

.navbar a.active {
	background-color: var(--blue);
	color: var(--white);
}

.mobile-nav {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-between;
	color: var(--blue);
	padding: 1rem;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	background: rgba(128, 128, 128, 0.3);
	backdrop-filter: blur(5rem);
	border-radius: 0 0 0 10px;
	text-align: end;
}

.mobile-nav ul {
text-align: end;
color: var(--white)
}

.mobile-nav-items li {
	color: var(--blue)
}

summary > span {
	font-weight: 900;
	font-size: 1.5rem;
}

/* HEADER */

header {
	font-weight: 600;
	font-size: 6rem;
	padding-top: 15%;
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	animation: var(--animation)
}

.header > h1 {
	text-transform: uppercase;
	color: var(--blue);
	width: 80vw;
}

.header > h2 {
	color: var(--light-gray);
	font-weight: 100;
	font-size: 2.5rem;
	margin-top: 0;
}

.magic-span {
	color: var(--white);
	text-shadow: var(--white-text-shadow);
	transition: var(--transition);
}

.author {
	font-weight: 300;
	color: var(--light-gray);
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 2rem;
}

section > h2::before {
	content:"";
	background-color: #333333;
	transition: opacity ease-in-out;
}

/* GRID */

.small-triangle {
	width: 0;
    height: 0;
    border-left: 20em solid transparent;
    border-right: 20em solid transparent; 
    border-bottom: 23em solid var(--blue); 
	transform: rotate(180deg);
	opacity: 15%;
	position: relative;
	top: -2rem;
	right: 8rem;
	transition: 1s ease-out;
}

.small-triangle:hover {
	transform: scale(1.1);
	transition: 1s ease-in-out;
}

.quote-div {
	color: var(--blue);
    transition: text-shadow 0.5s ease-in-out;
	text-shadow: var(--white-text-shadow);
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.quote-div-large {
	color: var(--blue);
    transition: text-shadow 0.5s ease-in-out;
	text-shadow: var(--white-text-shadow);
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
	font-size: 2rem;
	font-weight: 900;
}

.magic-line {
	color: var(--white);
	font-size: 3rem;
	font-weight: 900;
	text-shadow: var(--white-text-shadow);
}

.inverted-quote {
	font-size: 2rem;
	line-height: 3rem;
	color: var(--blue);
}

.member {
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--blue);
	margin: 0;
}

/* DETAILS SUMMARY */

summary {
	/* display: flex; */
	justify-content: space-between;
	cursor: pointer; 
}

.expand[open] .arrow {
	transform: rotate(180deg);
}
.arrow {
	display: flex;
	transition: transform 0.4s ease;
	color: white;
}

li {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1rem;
}

/* LIGHT AND DARK MODE */

.mode-toggle-checkbox {
    display: none;
}

.mode-toggle-button {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    font-size: 3rem;
    cursor: pointer;
	z-index: 2;
}

.mode-toggle-checkbox:checked ~ .content-wrapper .magic-span {
    color: var(--black);
	text-shadow: var(--black-text-shadow)
}

.mode-toggle-checkbox:checked ~ .content-wrapper {
    background-color: var(--white);
    color: var(--black)
}

.mode-toggle-checkbox:checked ~ .content-wrapper nav {
    background-color: var(--black);
    color: var(--white);
}
.mode-toggle-checkbox:checked ~ .content-wrapper .magic-line  {
    color: var(--black);
	text-shadow: var(--black-text-shadow);


}

.mode-toggle-checkbox:checked ~ .content-wrapper .blank-div,
.mode-toggle-checkbox:checked ~ .content-wrapper .left-article-top,
.mode-toggle-checkbox:checked ~ .content-wrapper .left-article-bottom,
.mode-toggle-checkbox:checked ~ .content-wrapper .right-article-top,
.mode-toggle-checkbox:checked ~ .content-wrapper .right-article-bottom,
.mode-toggle-checkbox:checked ~ .content-wrapper .quote-div-container {
    background-color: var(--light-grey-box);
    color: var(--black);
}

.mode-toggle-button::before {
    content: "☀️";
	position: absolute;
	transition: var(--transform)
}

.mode-toggle-checkbox:checked + .mode-toggle-button::before {
    content: "🌙";
	transform: rotate(360deg);
}

/* FOOTER */
footer {
	color: var(--white);;
	background-color: var(--black);
	height: 10rem;
	display: grid;
	align-content: center;
	justify-content: center;
}

footer p {
	margin: 0;
}


/* SCREEN SMALLER THAN 800PX */
@media (max-width: 800px) {
    .grid-container-right, .grid-container-left {
        grid-template-columns: 1fr; 
    }
    .side-div, .side-div-left, .right-article-top, .right-article-bottom, .left-article-top, .left-article-bottom {
        grid-column: 1; 
    }
	.side-div, .side-div-left {
		grid-row: auto;
	}
	.blank-div {
		display: none;
	}
	.header > h2 {
		text-align: left;
		padding: 0;
		position: relative;
	}
	section > h2 {
		text-align: center;
		position: sticky;
		top: 0;
		z-index: 1;
		padding-top: 1rem;
		padding-bottom: 1rem;
		backdrop-filter: blur(10px);
	}

	.header > h2 {
		backdrop-filter: none;
	}

	.magic {
		font-size: 4rem;
	}
	.magic-quote {
		padding: 2rem 5rem 2rem 5rem;
		padding: 2rem;
		text-align: center;
	}
	blockquote > p {
		font-size: 2rem;
	}
	
	.inverted-quote {
		font-size: 1.5rem;
	}
	
}

/* 700 */
@media (max-width: 700px) {
	h1 {
		font-size: 5rem;
	}
	.header > h2 {
		font-size: 1.5rem;
	}
	.navbar {
		gap: 1rem;
	}
}

/* 600 */
@media (max-width: 600px) {
	header {
		margin-top: 2rem;
	}
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2rem;
	}
	nav {
		display: none;
	}
	.mobile-nav {
		display: flex;
	}
}


/* 450 */
@media (max-width: 450px) {
	.wrapper-wrapper {
		max-width: 95%;
	}
	header {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	h1 {
		font-size: 3rem;
	}
	p {
		line-height: var(--line-height);
		overflow-wrap: break-word;
		word-wrap: break-word;
		hyphens: manual;
	}
	.author {
		font-size: 1.25rem;
	}
	article {
		padding: 1rem;
	}
	.footer {
		width: 50vw;
		text-align: center;
	}
	.grid-container, .grid-container-left, .side-div, .side-div-left {
		gap: 2rem;
	}
	.inverted-quote {
		font-size: 1.25rem;
		line-height: var(--line-height);
	}
	blockquote > p {
		font-size: 1.5rem;
		line-height: var(--line-height);
		margin-bottom: 0;
	}
	.magic-quote {
		padding: 0rem;
	}
	.author-link {
		font-size: 1rem;
	}
}
