body {
	max-width: 90%;
	margin: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
	color: var(--white);
	background-color: var(--black);
	font-family: "neue-kabel", sans-serif;
	color: var(--white);
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: auto;
	margin-top: 8rem;
}

h1 {
	font-weight: 800;
	font-size: 4rem;
	line-height: normal;
	text-shadow: var(--white-text-shadow);
	margin-bottom: 2rem;
}

h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
	margin-top: 4rem;
	font-weight: 600;
}

/* NAV */

nav {
	display: flex;
	justify-content: space-between;
	padding: 1% 5% 1% 5%;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	font-weight: 500;
	background-color: var(--black);
	color: var(--white);
	transition: var(--transition);
	z-index: 100;
	align-items: center;
}

nav > a:nth-child(1) {
	font-size: 3rem;
	font-weight: 900;
}

.navbar {
	display: flex;
	justify-content: space-evenly;
	gap: 3rem;
	height: min-content;
}

.navbar > a {
	padding: 10px 20px 10px 20px;
	border: 2px solid var(--white);
	border-radius: 10px;
}

section > a {
	margin: 0;
}

section > .navbar {
	margin: 0;
}

.navbar a:hover {
	background-color: var(--white);
	color: var(--black);
	transition: var(--transition);
}

.mobile-nav {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-between;
	color: var(--white);
	padding: 1rem;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	background: rgba(128, 128, 128, 0.3);
	backdrop-filter: blur(5rem);
	border-radius: 0 0 0 10px;
	text-align: end;
}

.mobile-nav ul {
text-align: end;
color: var(--white)
}

.mobile-nav-items li {
	color: var(--white)
}

li {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1rem;
}

summary > span {
	font-weight: 900;
	font-size: 1.5rem;
}
.body-content {
	position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
	position: relative;
	top: 5rem;
}
.colophon-container {
    position: relative;
	width: 60vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
	margin: auto;
    font-size: var(--p-font);
    animation: var(--animation);
}

.colophon {
    line-height: var(--line-height);
	/* margin-bottom: 1rem; */
}

.note {
    color: var(--light-gray);
}

p {
    margin-bottom: 1rem;
    text-align: start;
    color: var(--white);
}

article > p {
    letter-spacing: 2px;
}

/* FOOTER */
footer {
    position: relative;
    font-size: var(--p-font);
	color: var(--white);;
	background-color: var(--black);
	padding: 3rem;
	display: grid;
	align-content: center;
	justify-content: center;
}

.footer p {
    font-size: 1.25rem;
    margin: 0;
    text-align: center;
}

/* 800 */
@media (max-width: 800px) {
    .colophon-container {
        width: 80vw;
        /* height: 100vh; */
    }
}

/* 600 */
@media (max-width: 600px) {
	nav {
		display: none;
	}
	.mobile-nav {
		display: flex;
	}
}


/* 450 */
@media (max-width: 450px) {
	p {
		line-height: var(--line-height);
		overflow-wrap: break-word;
		word-wrap: break-word;
	}
	.footer {
		width: 50vw;
		text-align: center;
	}
}
