:root {
	--transition: background-color 0.5s ease-in-out, color 0.4s ease-in-out;
	--transform: transform 1s ease-in-out;
	--animation: fadeIn 3s ease-in-out 0.5s;
	--white-text-shadow: 0px 0px 40px var(--white);
	--black-text-shadow: 0px 0px 40px var(--black);

	--dark-gray: #181818;
	--light-gray: #86868B;
	--black: #000000;
	--white: #FFFFFF;
	--light-grey-box: #e0e0e0;
	--blue: #3295E7;
    --orange: #FF530F;
    --green: #00A84F;

	--p-font: 1.25rem;
	--line-height: 2rem;
}

article > p {
	letter-spacing: 0.1rem;
	font-weight: 100;
}