body {
	max-width: 90%;
	margin: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
	color: var(--white);
	background-color: var(--black);
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: auto;
	margin-top: 8rem;
}

h1 {
	font-weight: 800;
	font-size: 4rem;
	line-height: normal;
	text-shadow: var(--white-text-shadow);
	margin-bottom: 2rem;
}

h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
	margin-top: 4rem;
	font-weight: 600;
}

h3 {
	font-size: 1.5rem;
}

.author {
	font-weight: 600;
	color: #86868B;
	margin-bottom: 2rem;
}

/* NAV */

nav {
	display: flex;
	justify-content: space-between;
	padding: 1% 5% 1% 5%;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	font-weight: 500;
	background-color: var(--black);
	color: var(--white);
	transition: var(--transition);
	z-index: 100;
	align-items: center;
}

nav > a:nth-child(1) {
	font-size: 3rem;
	font-weight: 900;
}

.navbar {
	display: flex;
	justify-content: space-evenly;
	gap: 3rem;
	height: min-content;
}

.navbar > a, .colophon {
	padding: 10px 20px 10px 20px;
	border: 2px solid var(--white);
	border-radius: 10px;
}
section > a {
	margin: 0;
}

section > .navbar {
	margin: 0;
}

.navbar a:hover {
	background-color: var(--white);
	color: var(--black);
	transition: var(--transition);
}

.mobile-nav {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-between;
	color: var(--white);
	padding: 1rem;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	background: rgba(128, 128, 128, 0.3);
	backdrop-filter: blur(5rem);
	border-radius: 0 0 0 10px;
	text-align: end;
}

.mobile-nav ul {
text-align: end;
color: var(--white)
}

.mobile-nav-items li {
	color: var(--white)
}

li {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1rem;
}

summary > span {
	font-weight: 900;
	font-size: 1.5rem;
}

/* COLOPHON */

.colophon-container {
	width: 60vw;
	margin: auto;
	margin-bottom: 2rem;
	text-align: center;
}

.colophon {
	line-height: var(--line-height);
	margin-bottom: 0;
}


/* ARTICLES */

.all-articles-container {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: auto;
	margin-bottom: 5rem;
}

.article-container {
	width: 50rem;
	display: flex;
	justify-content: space-between;
	color: var(--blue);
	background-color: var(--white);
	border-radius: 10px;
	text-align: start;
	margin-bottom: 10px;
	overflow: hidden;
	padding-right: 2rem;

	transform-origin: bottom;
    animation: fall-and-rotate 2s ease-in forwards;
}

#save-world-article {
	animation: none;
	transform: none;
}

.article-container p {
	margin: 0;
	line-height: 2.5rem;
}

.article-title-author {
	margin-left: 2rem;
	display: flex;
    flex-direction: column;
    justify-content: center;
	width: 50%;
	gap: .5rem;
}

.advertising, .dilemma, .save-world {
	font-size: 2.5rem;
	font-weight: 500;
	text-transform: capitalize;
}

.advertising {
	color: var(--blue)
}

.dilemma {
	color: var(--orange)
}

.save-world {
	color: var(--green)
}

.author {
	font-size: 1.5rem;
	margin: 0;
	font-weight: normal;
}

/* .article-container:nth-child(1){
	transform: rotate(6deg);
}
.article-container:nth-child(2){
	transform: rotate(-6deg);
}
.article-container:nth-child(3){
	transform: rotate(0deg);
} */


@keyframes fall-and-rotate {
	0% {
		transform: rotate(var(--start-angle)) translateY(-500px);
	}
	80% {
		transform: rotate(0deg) translateY(5px);
	}
	90% {
		transform: rotate(0deg) translateY(10px);
	}
	100% {
		transform: rotate(0deg) translateY(0px);
	}
}

.article-container:nth-child(1) {
    --start-angle: 2deg;
	animation-delay: 0.2s;
}
.article-container:nth-child(2) {
    --start-angle: -2deg;
	margin-left: 4rem;
	animation-delay: 0s
}
.article-container:nth-child(3) {
	/* margin-left: -5rem; */
}

/* SHAPE */

.triangle-wrapper {
	margin-right: 1rem;
    z-index: 10;
	overflow: hidden;
}

.triangle {	
    position: relative;
    width: 0;
    height: 0;
    border-left: 7em solid transparent;
    border-right: 7em solid transparent; 
    border-bottom: 10em solid var(--blue); 
	z-index: 1;
}

.one {
    font-size: 10rem;
    position: absolute; 
    top: 8rem; 
	left: 2rem;
    transform: translate(-50%, -50%); 
    color: white;
    font-weight: bold; 
	text-shadow: var(--white-text-shadow);
}

.circle-wrapper {
    z-index: 10;
	overflow: hidden;
}

.circle {	
    position: relative;
    width: 11rem;
    height: 11rem;
	background-color: var(--orange);
	border-radius: 1000px;
	z-index: 1;
}

.two {
    font-size: 10rem;
    position: absolute; 
    top: 6rem; 
	left: 8rem;
    transform: translate(-50%, -50%); 
    color: white;
    font-weight: bold; 
	text-shadow: var(--white-text-shadow);
}

.square-wrapper {
    z-index: 10;
	overflow: hidden;
}

.square {	
    position: relative;
    width: 12rem;
    height: 12rem;
	background-color: var(--green);
	z-index: 1;
}

.three {
    font-size: 10rem;
    position: absolute; 
    top: 6rem; 
	left: 9rem;
    transform: translate(-50%, -50%); 
    color: white;
    font-weight: bold; 
	text-shadow: var(--white-text-shadow);
}

footer {
	width: 90vw;
    margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* position: fixed; 
    bottom: 0;  */
}

footer p {
	font-size: var(--p-font);
	margin: 0;
}

/* SCREEN SMALLER THAN 950PX */
@media (max-width: 950px) {
	.article-container:nth-child(n+1) {
		margin-left: 0;
    }
}
/* SCREEN SMALLER THAN 850PX */
@media (max-width: 850px) {
	.article-container {
        width: 90vw; 
        padding-right: 1rem;
    }
}

@media (max-width: 800px) {
    .grid-container-right, .grid-container-left {
        grid-template-columns: 1fr; 
    }
    .side-div, .side-div-left, .right-article-top, .right-article-bottom, .left-article-top, .left-article-bottom {
        grid-column: 1; 
    }
	.side-div, .side-div-left {
		grid-row: auto;
	}
	.blank-div {
		display: none;
	}
	h1 {
		font-size: 3rem;
	}
	.navbar {
		gap: 1rem;
	}
	.magic {
		font-size: 4rem;
	}
	.magic-quote {
		padding: 2rem 5rem 2rem 5rem;
		padding: 2rem;
		text-align: center;
	}
	blockquote > p {
		font-size: 2rem;
	}
	.inverted-quote {
		font-size: 1.5rem;
	}
	.article-title-author .advertising, .dilemma, .save-world {
		font-size: 1.5rem;
	}
	.article-title-author .author {
		font-size: 1.25rem;
	}
	.colophon-container {
		width: 60vw;
	}
}

/* 600 */
@media (max-width: 600px) {
	nav {
		display: none;
	}
	.mobile-nav {
		display: flex;
	}
	.triangle {
		border-left: 5em solid transparent;
		border-right: 5em solid transparent;
		border-bottom: 7em solid var(--blue);
	}
	.circle, .square {
		width: 8rem;
		height: 8rem;
	}
	.one {
		font-size: 8rem;
		left: 1rem;
		top: 6rem;
	}
	.two, .three {
		font-size: 8rem;
		left: 4rem;
	}
	.colophon-container {
		width: 70vw;
		
	}
}

@media (max-width: 500px) {
	.article-title-author .advertising, .dilemma, .save-world {
		font-size: 1.25rem;
	}
	.article-title-author .author {
		font-size: 1rem;
	}
}

/* 450 */
@media (max-width: 450px) {
	h1 {
		font-size: 2rem;
	}

	.triangle-wrapper, .circle-wrapper, .square-wrapper {
		display: none;
	}
	.article-container {
		padding: 1rem;
		justify-content: center;
		text-align: center;
	}
	.article-title-author {
		margin: 0;
		width: auto;
	}
	.article-container:nth-child(1) {
		transform: rotate(2deg);
	}
	.article-container:nth-child(2) {
		transform: rotate(-17deg);
		height: 6rem;
	}
	.article-container:nth-child(3) {
		transform: rotate(2deg);
	}
	.colophon-container {
		width: 90vw;
	}
	footer {
		flex-direction: column;
		text-align: center;
	}
}
