.body-content {
	max-width: 900px;
	margin: auto;
	margin-bottom: 3rem;
	margin-top: 3rem;
	color: black;
	font-family: "Nunito", sans-serif;
}
.background-div {
    padding: 4rem;
    color: white;
	text-align: center;
    overflow: hidden; 
    background-color: #61BFFE;
	border-radius: 0 0 50% 50% / 0 0 20% 20%;
}

header {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "pain-de-mie", sans-serif;
	font-weight: 400;
	font-style: normal;
}
nav {
	display: flex;
	justify-content: space-evenly;
	background-color: #4E65FF;
	color: white;
	padding: 1rem;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	font-weight: 500;
}

.dilemma {
	margin-bottom: 2rem;
}

.elisha {
	background-color: #5EF49C;
	border-radius: 20% 20% 20% 20%;
	padding: 1rem;
	text-align: center;
	margin-bottom: 2rem;
}

.cultural {
	background-color: #FE97FE;
	border-radius: 20% 20% 20% 20%;
	padding: 1rem;
	margin-bottom: 2rem;
	text-align: center;
}
.deep {
	background-color: #FF5918;
	border-radius: 20% 20% 20% 20%;
	padding: 1rem;
	margin-bottom: 2rem;
	text-align: center;
}

h1 {
	font-size: 5rem;
}
 h2 {
	font-size: 2rem;
	font-family: "pain-de-mie", sans-serif;
 }

p {
	font-size: 1.25rem;
	line-height: 2rem;
	margin-bottom: 1rem;
}

blockquote {
	font-family: "pain-de-mie", sans-serif;
	background-color: #61BFFE;
	border-radius: 20% 20% 20% 20%;
	padding: 1rem;
	width: 100vw;
	margin-left: calc(50% - 50vw);
	color: white;
	margin-bottom: 2rem;
	text-align: center;
}

.quote-div > p {
	font-size: 3.5rem;
	line-height: 4rem;
}

.quote-div {
	/* margin: 0 14rem 0 14rem; */
	max-width: 900px;
	margin: auto;
}

footer {
	background-color: #61BFFE;
	color: white;
	height: 25vh;
	font-size: 3rem;
	display: flex;
	font-family: "pain-de-mie", sans-serif;
	border-radius: 50% 50% 0 0 / 20% 20% 0 0;
}

.footer {
	max-width: 900px;
	margin: auto;
}

.footer > p {
	font-size: 3rem;
}