* {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

nav {
	display: flex;
	justify-content: space-evenly;
	background-color: #181818;
	padding: 1rem;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	font-weight: 500;
}

body {
	max-width: 90%;
	margin: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
	color: white;
	background-color: black;
}

header {
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 110vh;
	justify-content: space-evenly;
}

.header > h1 {
	text-shadow: 0px 0px 40px #FFF;
}

.author {
	font-weight: 600;
	color: #86868B;
	margin-bottom: 2rem;
}

.down-arrow {
	font-size: 5rem;
}

h1 {
	font-weight: 800;
	font-size: 6rem;
}

 h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
	margin-top: 4rem;
	font-weight: 600;
	position: sticky;
 }

 h3 {
	font-size: 1.5rem;
 }

p {
	font-size: 1rem;
	line-height: 1.75rem;
	margin-bottom: 2rem;
}


section > h2 {
	text-align: center;
    /* position: sticky;
    top: 6%;
    z-index: 1;
    padding: .5rem */
}

section {
	margin-bottom: 1rem;
}

/* GRID CONTAINER */

/* RIGHT CONTAINER */
.grid-container {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 2fr;
	gap: 20px;
}
.side-div {
	grid-column: 2; 
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 20px;
}
.right-article {
	grid-column: 1;
	grid-row: 1
}

/* LEFT CONTAINER */
.grid-container-left {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: auto;
	gap: 20px;
}
.side-div-left {
	grid-column: 1; 
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 20px;
}
.left-article {
	grid-column: 2;
	grid-row: 1
}
	
.blank-div {
	height: -webkit-fill-available;
}
	
.quote-div-container {
	text-align: center;
}

.blank-div, .quote-div-container, article {
	border-radius: 1rem;
	padding: 1.5rem;
	background-color: #181818;
}
.quote-div {
	font-weight: 500;
	margin: 0;
}

.magic {
	font-size: 3.5rem;
	font-weight: 800;
	text-shadow: 0px 0px 40px #FFF;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.capital {
	font-size: 2rem;
	font-weight: 800;
	margin: 1rem;
	background: linear-gradient(90deg, #D6145B 0%, #FBB03B 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.consumer {
	font-size: 2rem;
	font-weight: 800;
	margin: 1rem;
	background: linear-gradient(90deg, #1FAF98 0%, #D9B5FF 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.modern {
	font-size: 1.5rem;
	font-weight: 800;
	text-shadow: 0px 0px 40px #FFF;
	margin-top: 2rem;
	margin-bottom: 2rem;
}


.impetus {
	font-size: 1.75rem;
	font-weight: 800;
	margin: 1rem;
	line-height: 2rem;
	background: linear-gradient(90deg, #4E65FF 0%, #92EFFE 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.material {
	font-size: 2rem;
	font-weight: 800;
	margin: 1rem;
	background: linear-gradient(90deg, #A890FE 0%, #EB8D8D 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
footer {
	color: white;
}

/* SCREEN SMALLER THAN 700PX */
@media (max-width: 700px) {
    .grid-container, .grid-container-left {
        grid-template-columns: 1fr; 
    }
    .side-div, .side-div-left, .right-article, .left-article {
        grid-column: 1; 
    }
	.blank-div {
		display: none;
	}
	section > h2 {
		text-align: center;
		position: sticky;
		top: 6%;
		z-index: 1;
	}
	section:has(position:sticky) h2 {
		background-color: #1FAF98;
		color: blue;
		border: 1px solid yellow;
		padding: 10rem;
	}
}

@media (max-width: 600px) {
	h1 {
		font-size: 5rem;
	}
}

@media (max-width: 450px) {
	h1 {
		font-size: 4rem;
	}
	p {
		line-height: 2rem;
	}
}
