.body-content {
	max-width: 900px;
	margin: auto;
	margin-bottom: 3rem;
	margin-top: 3rem;
	color: black;
}
.background-div {
    padding: 4rem;
    color: white;
	text-align: center;
    overflow: hidden; 
    background-color: #61BFFE;
	border-radius: 0 0 50% 50% / 0 0 20% 20%;
}

header {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


nav {
	display: flex;
	justify-content: space-evenly;
	background-color: #4E65FF;
	color: white;
	padding: 1rem;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	font-weight: 500;
}

.elisha {
	background-color: #5EF49C;;
}

h1 {
	font-size: 4rem;
}
 h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
 }

p {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

footer {
	background-color: black;
	color: white;
	padding: 1rem;
}