body {
	max-width: 900px;
	margin: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
	color: black;
}

nav {
	display: flex;
	justify-content: space-evenly;
	background-color: #181818;
	padding: 1rem;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	font-weight: 500;
	color: white;
}


h1 {
	font-size: 4rem;
}
 h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
 }

p {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

footer {
	background-color: black;
	color: white;
	padding: 1rem;
}